/*
    CSS TRICKS
         https://css-tricks.com/snippets/css/a-guide-to-flexbox/

     ORIGAMID
         https://origamid.com//projetos/flexbox-guia-completo/

     MDN
         https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox/

     JOGO DO FROGGY
         https://flexboxfroggy.com/

 */

 @font-face {
    font-family: "Glory-ExtraBold"; /*apelido*/
    src: url(../fonts/Glory/static/Glory-ExtraBold.ttf);
 }

 /* reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

.container-grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

header .header-flex {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    width: 280px;
}

/* navbar */
header .menu {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}

/*links*/
header .menu .intem-menu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Glory-ExtraBold";
}