 @font-face {
    font-family: "Glory-ExtraBold"; /*apelido*/
    src: url(../fonts/Glory/static/Glory-ExtraBold.ttf);
 }

 @font-face {
    font-family: "TitilliumWeb-Black";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Black.ttf);
 }
 @font-face {
    font-family: "TitilliumWeb-SemiBold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
 }

 /* reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 
        propriedades de fonts são herdáveis porém os 
        links e campos de formulários não as herdam 
    */
    font-family: "TitilliumWeb-SemiBold";
    font-size: 16px;
    color: white;
}

/* CSS GENÉRICO */
.showNavbar {
    left: 0 !important;
    opacity: 0.95 !important;
}

/********** CUSTOMIZAÇÃO DO BROOTSTRAP ***********/
.container {
    max-width: 1200px;
}

/********** HEADER ***********/

header {
    background-color: black;
}

.container-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

header .header-flex {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    width: 280px;
}

/* navbar */
header .menu {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}

/*links*/
header .menu .intem-menu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Glory-ExtraBold";
}


.hamburger-icon {display: none;}

/**********BANNER***********/

.banner {
    height: 600px;
    background-color: salmon;
    background-image: url(../images/Imagem\ banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}

.banner .banner-box .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    height: 280px;

    font-family: "TitilliumWeb-SemiBold";
    color: white;
}

.banner .banner-box .banner-info h2 {
    font-family: "TitilliumWeb-Black";
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
}

.banner .banner-box .banner-info p {
    margin-top: -80px;
    font-size: 25px;
    color: #009688;
    text-align: center;
    text-transform: uppercase;
}

.banner .banner-info .button-banner {
    align-self: center; /*propiedade para filho/intem flex somente ele!!*/
    width: 250px;
    height: 65px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #a8a6a6;
    border-radius: 10px;
}

/**************** PRODUTOS  ****************/
.produtos {
    padding: 40px;
    background-color: #1E1C21;


}

.produtos h2 {
    margin-bottom: 40px;
}

.produtos .card {
    max-width: 250px;
    min-width: 230px;
    margin-bottom: 20px;

    background-image: linear-gradient(to bottom, #1E1C21, #757373);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


.produtos .card-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.produtos .card-buy {
    width: 100%;
    margin-top: 10px;
    background-color: #009688;
    color: black;
    text-transform: uppercase;
    border: 1px solid #009688;
    border-radius: 10px;
}

/* TABLETS */
@media screen and (max-width: 991px) {
    /* imagem alternativa para o tablet
    .banner {
        background-image: url(../images/banner_lol.png);
        
    } */



    header .menu {
        position: fixed;
        /* Referencial Viewport */
        top: 0;
        /*top/bottom */
        left: -80%;
        /*left/right */
        z-index: 10;
        /*controle de camada */

        /* flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 100%;
        background-color: #1E1C21;
        opacity: 0;

        transition: left 0.4s, opacity 0.5s;
    }

    header .menu a {
        border-left: 3px dotted white;
        width: 80%;
        margin-bottom: 20px;
        font-size: 1.4rem;
        padding: 20px;
    }

    header .hamburger-icon {
        width: 40px;
    }

    .hamburger-icon {display: block;}


}

/* Smartphone */
@media screen and (max-width: 767px) {
    header .logotipo {
        width: 240px;
    }
    
    header .hamburger-icon {
        width: 35px;
    }
    
    header .menu a {
        border-left: 2px dotted white;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 10px;
    }
}